# Nunca subir fuentes con copyright

sources/
**/*.pdf
**/*.PDF
**/*.doc
**/*.docx
**/*.rtf
**/*.html

# Archivos de salida de la conversión local
/sources/markdown_outputs/

# Archivos privados
**/PRIVATE_*
**/LOCAL_*
*.private.*

# Directorio de backups
backups/

# Credenciales
.env.local
.env.*.local

